.Songs{
  font-size: 100px;
  font-family: sans-serif;
  color: blueviolet;
  text-align: center;
  margin: 10px;
}
.bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button{
  cursor: pointer;
}

.songList{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: rgb(188, 152, 221);
}

.titles{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

span{
  width: 80px;
}

.song{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  border-radius: 20px;
  background-color: whitesmoke;
  font-family: sans-serif;
}

.song:hover{
  background-color: rgb(88, 12, 158);
  color: white;
  cursor: pointer;
}

.song img{
  width: 40px;
}

.song p,b{
  width: 200px;
}

.loading{
  width: 200px;
}

.songImages{
  display: flex;
  gap: 10px;
}

.error{
  color: red;
  font-family: sans-serif;
}

.search{
  border-radius: 20px;
  padding: 8px;
}

.bar div{
  display: flex;
  gap: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadButton{
  width: 200px;
  background-color: green;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-size: 25px;
}